* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Inter', sans-serif;
   /* font-family: 'Lobster', cursive; */
}

h1,
h2,
h3 {
   font-weight: 700;
   text-align: center;
}

h1 {
   margin-bottom: 20px;
   font-size: 65px;
}

h2 {
   margin-bottom: 15px;
   font-size: 45px;
}

button {
   cursor: pointer;
}

.container-sm {
   width: 826px;
   margin: 0 auto;
}

.banner {
   padding: 175px 0;
   background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0), rgba(18, 18, 18, 1)), url(images/banner-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   color: #ffffff;
   text-align: center;
}

.banner p,
.donate-today p {
   margin-bottom: 45px;
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 400;
   text-align: center;
}

.btn-donate {
   padding: 16px 20px;
   background-color: #FF5959;
   font-size: 20px;
   font-weight: 600;
   color: #ffffff;
   text-decoration: none;
   border-radius: 5px;
   border: none;
}

.donate-today {
   padding: 130px 0;
}

.tk-amount {
   display: flex;
   justify-content: space-around;
}

.tk-amount button {
   padding: 44px 24px;
   background-color: #FAFAFA;
   font-size: 30px;
   font-weight: 700;
   color: #707070;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   border: 1px solid #FAFAFA;
}

.tk-amount button:hover,
#amount-second {
   background-color: #FFEEEE;
   color: #FF5959;
   border: 1px solid #FF5959;
}

.tk-amount-form form {
   padding-top: 60px;
   text-align: center;
}

.tk-amount-form form input {
   width: 100%;
   display: block;
   margin-bottom: 30px;
   padding: 10px;
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 400;
   text-align: center;
   border: none;
   border-bottom: 1px solid #DADADA;
}

.tk-amount-form form input:focus {
   text-align: center;
   outline: none;
   border-bottom: 1px solid #DADADA;
}

.tk-amount-form form input::placeholder {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: #DADADA;
   text-align: center;
}